doctype html
html
head
	meta(charset='ja')
	title Rapido
	link(rel='stylesheet', href='/css/preparation.css')
	script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
	script(src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js")
	
