.p-main {
}

.p-main__optionals {
  .c-anchor {
    margin-right: 1rem;
  }
}

.p-main__todo-field {
  background: $background-color__todo-field;
  border: 1px solid $border-color--default;
  .c-column-field__category {
    &:not(:first-child) {
      border-left: 1px solid $border-color--gray;
    }
    &__header {
      padding: .5rem;
      border-bottom: 1px solid $border-color--gray;
      text-align: left;
      .c-text--basic {
        padding-left: .5rem;
      }
    }
    &__body {
      height: 100%;
      padding: 0 .5rem;
      .c-kanban {
        .c-text--basic {
        }
        .c-text--small {
          color: $font-color--gray;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
        .c-button {
          float: right;
        }
      }
    }
  }
}
