.p-todoLists-modal {
  .js-modal {
    &-create {}

    &-edit {}

    &-content {}

    &__field {

      padding: 1.25rem;
      background-color: $background-color;
      border-radius: 0.2rem;

      &__header {
        padding-bottom: 0.2rem;
        border-bottom: 1px solid $border-color--default;

        &__title {}

        &__optionals {}
      }

      &__body {
        margin: 1rem;

        &__create-form {}

        &__main {
          padding: 1rem 1rem 0 0;

          .c-card-history {
            height: 460px;
            &__card-box {
              &__left {
                &__user-img {}
              }

              &__main {
                &__description-box {
                  &__header {
                    padding: 0.25rem 0.5rem 0.1rem;
                    background-color: $background-color__card__header;

                    &__time {}

                    &__operation {}

                    .c-text--small {
                      color: $font-color--ashen;
                    }
                  }

                  &__body {
                    min-height: 3rem;
                    padding: 0 0.5rem;
                  }
                }
              }
            }
          }

          .c-add-todo-box {
            position: absolute;
            bottom: 1.75rem;
            right: 1rem;

            &__header {
              .c-tab {
                .c-tab__elem {
                  &:active {

                  }
                }
              }
            }

            &__body {}

            &__footer {}
          }
        }

        &__sidebar {
          padding: 1rem 0 0 1rem;
          border-left: 1px solid $border-color--default;

          &__integration {
            margin-bottom: 1.5rem;
          }
        }
      }
    }
  }
}
