html {
  height: 100%;
  margin: 0; }

body {
  margin: 0;
  padding: 0;
  height: 100%; }
  body p, body h1, body h3 {
    margin: 0;
    padding: 0; }
  body button {
    background-color: transparent;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none; }
  body input, body textarea {
    padding: 0.2rem;
    border: 1px solid #cbd6e2;
    border-radius: 0.1rem;
    cursor: text; }

body {
  background: #ffffff;
  font-family: "avenir-light", sans-serif;
  color: #33457b; }
  body h1, body h3, body input, body textarea {
    font-weight: 200; }
  body a {
    color: #0091AE; }

.service-header {
  padding: 7px 20px 5px;
  background: #2e2e2e;
  color: #eeeeee; }
  .service-header h1 {
    font-size: 1.5rem; }

.service-body {
  padding: 0 50px;
  height: 90%;
  box-sizing: border-box; }
  .service-body .todoLists-headliner {
    display: flex;
    justify-content: flex-end;
    padding: 2.5rem 0 1.5rem;
    margin-bottom: 2.5rem;
    border-bottom: 1px solid #cbd6e2; }
    .service-body .todoLists-headliner .headliner-title {
      margin-right: auto; }
      .service-body .todoLists-headliner .headliner-title p {
        font-size: 1.6rem;
        color: #33457b; }
    .service-body .todoLists-headliner .create-btn {
      background-color: #ff7a59;
      color: #ffffff;
      font-size: 1rem;
      border-radius: 3px;
      padding: 0.7rem 1.5rem;
      border: none; }
  .service-body .container {
    text-align: center;
    display: -webkit-flex;
    display: flex;
    height: 78%; }
    .service-body .container .todoLists-sidebar {
      flex-grow: 1;
      text-align: left; }
      .service-body .container .todoLists-sidebar p {
        padding: 0.5rem 0; }
    .service-body .container .todoLists-container {
      flex: 9; }
      .service-body .container .todoLists-container .todoLists-optionals {
        height: 40px;
        text-align: left; }
        .service-body .container .todoLists-container .todoLists-optionals :not(:first-child) {
          margin-left: 10px; }
      .service-body .container .todoLists-container .todoLists-field {
        background: #f5f8fa;
        position: relative;
        display: flex;
        justify-content: space-around;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border: 1px solid rgba(50, 50, 60, 0.1); }
        .service-body .container .todoLists-container .todoLists-field div.todoLists-categories:not(:first-child) {
          border-left: 1px solid rgba(50, 50, 60, 0.1); }
        .service-body .container .todoLists-container .todoLists-field .todoLists-categories {
          flex: 1; }
          .service-body .container .todoLists-container .todoLists-field .todoLists-categories .categories-header {
            padding: 10px 0;
            border-bottom: 1px solid rgba(50, 50, 60, 0.1); }
            .service-body .container .todoLists-container .todoLists-field .todoLists-categories .categories-header p {
              margin-left: 7px;
              text-align: left;
              font-size: 1rem; }
          .service-body .container .todoLists-container .todoLists-field .todoLists-categories .categories-body {
            height: 92%;
            padding: 0 10px;
            overflow-y: auto;
            text-align: center; }
            .service-body .container .todoLists-container .todoLists-field .todoLists-categories .categories-body .todoLists-content {
              width: auto;
              min-height: 80px;
              max-height: 120px;
              text-align: left;
              padding: 3px 10px;
              background-color: #fefefe;
              border-radius: 3px;
              box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
              margin: 20px 0;
              overflow: hidden; }
              .service-body .container .todoLists-container .todoLists-field .todoLists-categories .categories-body .todoLists-content h3 {
                font-size: 1rem; }
              .service-body .container .todoLists-container .todoLists-field .todoLists-categories .categories-body .todoLists-content p {
                margin-top: 5px;
                width: 100%;
                color: #555555;
                font-size: 0.8rem;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden; }
              .service-body .container .todoLists-container .todoLists-field .todoLists-categories .categories-body .todoLists-content button, .service-body .container .todoLists-container .todoLists-field .todoLists-categories .categories-body .todoLists-content input {
                float: right; }

#modal-bg {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4); }

#modal-field {
  z-index: 5;
  position: fixed;
  height: 500px;
  width: 700px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 0.2rem; }
  #modal-field #create-todo, #modal-field #edit-todo {
    z-index: 10; }
    #modal-field #create-todo .modal-todo-header, #modal-field #edit-todo .modal-todo-header {
      display: flex;
      border-bottom: 1px solid #cbd6e2; }
      #modal-field #create-todo .modal-todo-header .modal-todo-optionals, #modal-field #edit-todo .modal-todo-header .modal-todo-optionals {
        margin-left: auto; }
        #modal-field #create-todo .modal-todo-header .modal-todo-optionals p, #modal-field #edit-todo .modal-todo-header .modal-todo-optionals p {
          margin-top: 1rem; }
    #modal-field #create-todo .modal-todo-body, #modal-field #edit-todo .modal-todo-body {
      margin-top: 30px; }
      #modal-field #create-todo .modal-todo-body input, #modal-field #create-todo .modal-todo-body textarea, #modal-field #edit-todo .modal-todo-body input, #modal-field #edit-todo .modal-todo-body textarea {
        margin-bottom: 1rem;
        font-size: 1rem; }

.save-button input {
  background-color: #ffffff;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  cursor: pointer; }
  .save-button input:hover {
    background-color: #f5fcff; }
