doctype html
html
head
  meta(charset='ja')
  title Welcome to Rapido
  link(rel='stylesheet', href='/css/welcome.css')

body
.welcome-page
  img(class="welcome-background", src='images/welcome.jpg')
  .welcome-message
    h1 Make your day as fast as possible
    p coolest app to empower your work time
  a(class="welcome-button" href="/todoLists") Getting started
