.c-column-field {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.c-column-field__category{
  flex: 1;
}

.c-column-field__category__header {
}

.c-column-field__category__body {
  text-align: center;
  overflow-y: auto;
}
