<% include ../shared/header %>

<% include ../shared/headerBar %>

<div class="service-body">
  <div class="todoLists-headliner">
    <div class="headliner-title">
      <p>todoLists</p>
    </div>
  </div>
  <div class="container">
    <div class="todoLists-container">
      <form method="post" action="/todoLists/<%= id %>?_method=PUT">
        <p>title:</p>
        <input type="text" name="todo" value="<%= todoE.todo %>">
        <p>body:</p>
        <textarea name="description" rows="1" cols="20"><%= todoE.description %></textarea></br>
        <input type="submit" value="保存"><input type="reset" value="リセット">
      </form>
    </div>
  </div>
</div>

<%include ../shared/footer %>
