include ../shared/header
include ../shared/headerBar

.service-body
  .todoLists-headliner
    .headliner-title
      p todoLists
  .container
    .todoLists-container
      form(method='post', action='/todoLists/#{id}?_method=PUT')
        p title:
        input(type='text', name='todo', value=todoE.todo)
        p body:
        textarea(name='description', rows='1', cols='20') #{todoE.description}
        br
        input(type='submit', value='保存')
        input(type='reset', value='リセット')


include ../shared/footer
