include ../shared/header.pug
include ../shared/service-header.pug
include ../shared/functions.pug

.l-service-body
  .l-service-headliner
    .headliner-title
      p todoLists
    button(id="open-create-modal", class="c-button") Create new

  .l-service-container
    .l-service-sidebar
      p Concierge U
      p Home chores
      p etc

    .l-service-main
      .l-service-main-header
        a(href="#") osakabe
        a(href="#") taguchi
        a(href="#") fkoji

      .l-service-main-body
        +kanban-generator(categories, todos)

script(type="text/javascript" src="js/index.js")

include ./modals.pug
include ../shared/footer.pug
