include ../shared/header.pug
include ../shared/headerBar.pug
include ../shared/functions.pug

.service-body
  .todoLists-headliner
    .headliner-title
      p todoLists
    button(id="open-create-modal", class="create-btn") Create new

  .container
    .todoLists-sidebar
      p Concierge U
      p Home chores
      p etc

    .todoLists-container
      .todoLists-optionals
        a(href="#") osakabe
        a(href="#") taguchi
        a(href="#") fkoji

      .todoLists-field
        +kanban-generator(categories, todos)

script(type="text/javascript" src="js/index.js")

include ./modals.pug
include ../shared/footer.pug
