include ../shared/header.pug
include ../shared/service-header.pug
include ../shared/functions.pug

.l-service-body
  .l-service-headliner
    .p-headliner
      .p-headliner--title
        span(class="c-text--largeX") todoLists
      .p-headliner--operation
        button(class="js-modal--create__open", class="c-button--primary") Create new

  .l-service-container
    .l-service-sidebar
      .p-sidebar
        +sidebar-link-generator(["Concierge U","Home chores","etc"])

    .l-service-main
      .l-service-main__header
        .p-main__optionals
          a(href="#" class="c-anchor") osakabe
          a(href="#" class="c-anchor") taguchi
          a(href="#" class="c-anchor") fkoji

      .l-service-main__body
        .p-main
          .p-main__todo-field
            .c-column-field
              +kanban-generator(categories, todos)

script(type="text/javascript" src="js/index.js")

include ./modals.pug
include ../shared/footer.pug
