#modal-bg.modals
#modal-field.modals
  #create-todo.modals.modal-content
    .modal-todo-header
      h1 Create new todo
    .modal-todo-body
      form(method='post', action='/todoLists/create')
        p Title:
        input(type='text', name='todo', placeholder='put title here')
        p Description:
        textarea(name='description', rows='4', cols='80', placeholder='what are you supposed to do?')
        br
        .save-button
          input(type='submit', value='Save')

  
  #edit-todo.modals
    .modal-todo-header
      h1 Edit todo
      .modal-todo-optionals
        p(id="createdAt")
        
    .modal-todo-body
      form(id='editForm', method='post', action='/todoLists/')
        p Title:
        input(id='editTitle', name='todo', type='text')
        p Description:
        textarea(id='editBody', name='description', rows='4', cols='80')
        br
        input(id='editID', name='id', type='hidden')
        .save-button
          input(type='submit', value='Update')
