/* ==========================================================================
   Integrated modules
   ========================================================================== */
/* ==========================================================================
   Foundation
   ========================================================================== */
html body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, span, a, input, textarea, select {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

button {
  background-color: transparent;
  outline: none;
  appearance: none; }

html body {
  height: 100%;
  background-color: #ffffff;
  font-family: "avenir-light", sans-serif;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

h1, h2, h3, h4, h5, h6, p, span, a, button, input, textarea, select {
  color: #33457b;
  font-weight: 200; }

a {
  color: #0091AE; }
  a:hover {
    color: #80c8d7; }

input, textarea {
  padding: .2rem;
  border: 1px solid #cbd6e2;
  border-radius: .2rem;
  cursor: text; }

input[type=text]:focus, input[type=submit]:focus, textarea:focus {
  outline-width: .25rem;
  outline-color: #85BFFD; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

/* ==========================================================================
   Layout
   ========================================================================== */
.l-service-header {
  padding: .4rem 1rem .2rem;
  background: #2e2e2e; }

.l-service-body {
  width: 100%;
  height: 90%;
  padding: 0 2rem;
  box-sizing: border-box; }

.l-service-headliner {
  margin-bottom: 2rem;
  border-bottom: 1px solid #cbd6e2; }

.l-service-container {
  display: flex;
  height: 80%;
  text-align: center; }

.l-service-sidebar {
  flex: 1;
  text-align: left; }

.l-service-main {
  flex: 6;
  height: 100%; }

.l-service-main__header {
  height: 40px;
  text-align: left; }

.l-service-main__body {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

/* ==========================================================================
   Object
   ========================================================================== */
/* Component----------------------------------------------------------------- */
.c-text--smallX {
  font-size: 0.65rem; }

.c-text--small {
  font-size: 0.8rem; }

.c-text--basic {
  font-size: 1rem; }

.c-text--large {
  font-size: 1.25rem; }

.c-text--largeX {
  font-size: 1.5rem; }

.c-text--grande {
  font-size: 2rem; }

.c-text--grandeX {
  font-size: 2.5rem; }

.c-button, .c-button--primary, .c-button--small {
  display: inline-block;
  padding: .5rem 1rem;
  background-color: #ffffff;
  border: 1px solid #cbd6e2;
  border-radius: .25rem;
  color: #333333;
  font-size: .8rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  transition: all 0.3s 0s ease; }
  .c-button:hover, .c-button--primary:hover, .c-button--small:hover {
    background-color: #f2f6fe; }

.c-button--primary {
  background-color: #ff7a59;
  border: none;
  color: #ffffff; }
  .c-button--primary:hover {
    background-color: #ffaf9b; }

.c-button--small {
  padding: .2rem .4rem;
  font-size: .75rem; }

.c-column-field {
  display: flex;
  justify-content: space-around;
  position: relative; }

.c-column-field__category {
  flex: 1; }

.c-column-field__category__body {
  text-align: center;
  overflow-y: auto; }
  .c-column-field__category__body__kanban {
    width: auto;
    box-shadow: 1px 1px 2px rgba(110, 110, 110, 0.5);
    border-radius: .2rem;
    text-align: left;
    overflow: scroll; }

.c-card-history {
  overflow-y: auto; }
  .c-card-history__card-box {
    display: flex; }
    .c-card-history__card-box--main__description-box {
      box-shadow: 1px 1px 2px rgba(110, 110, 110, 0.5);
      border-radius: .25rem; }

/* Project----------------------------------------------------------------- */
.p-header__logo .c-text-largeX {
  color: #eeeeee; }

.p-headliner {
  display: flex;
  justify-content: flex-end;
  padding: 2.5rem 0 1.5rem; }
  .p-headliner--title {
    margin-right: auto; }
  .p-headliner--operation .c-button--primary {
    font-size: 1rem;
    border-radius: 3px;
    padding: 0.7rem 1.5rem; }

.p-sidebar .c-text--basic {
  margin-bottom: 1rem; }

.p-main__optionals .c-text--basic {
  margin-right: 1rem; }

.p-main__todo-field {
  background: #f5f8fa;
  border: 1px solid #cbd6e2; }
  .p-main__todo-field .c-column-field__category:not(:first-child) {
    border-left: 1px solid #dee1e5; }
  .p-main__todo-field .c-column-field__category__header {
    padding: .5rem;
    border-bottom: 1px solid #dee1e5;
    text-align: left; }
    .p-main__todo-field .c-column-field__category__header .c-text--basic {
      padding-left: .5rem; }
  .p-main__todo-field .c-column-field__category__body {
    height: 100%;
    padding: 0 .5rem; }
    .p-main__todo-field .c-column-field__category__body__kanban {
      min-height: 80px;
      max-height: 120px;
      padding: .25rem .75rem;
      margin: .75rem 0;
      background-color: #fefefe; }
      .p-main__todo-field .c-column-field__category__body__kanban .c-text--small {
        color: #555555;
        overflow: hidden; }
      .p-main__todo-field .c-column-field__category__body__kanban .c-button--small {
        float: right; }

.p-todoLists-modal .js-modal__field {
  height: 600px;
  width: 700px;
  padding: 1.25rem;
  background-color: #ffffff;
  border-radius: .2rem; }
  .p-todoLists-modal .js-modal__field__header {
    padding-bottom: .2rem;
    border-bottom: 1px solid #cbd6e2; }
    .p-todoLists-modal .js-modal__field__header__optionals .c-text-basic {
      margin-top: 1rem; }
  .p-todoLists-modal .js-modal__field__body {
    display: flex;
    height: 530px;
    margin: 1rem; }
    .p-todoLists-modal .js-modal__field__body__main {
      position: relative;
      width: 520px;
      height: 100%;
      padding: 1rem; }
      .p-todoLists-modal .js-modal__field__body__main .c-card-history__card-box--left {
        width: 3rem; }
        .p-todoLists-modal .js-modal__field__body__main .c-card-history__card-box--left__user-img {
          width: 2.5rem;
          height: 2.5rem; }
      .p-todoLists-modal .js-modal__field__body__main .c-card-history__card-box--main {
        flex: 1; }

/* Utitlity----------------------------------------------------------------- */
.js-modal__background {
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4); }

.js-modal__field {
  z-index: 5;
  height: 100%;
  position: fixed; }
  .js-modal__field__header {
    display: flex; }
    .js-modal__field__header__optionals {
      margin-left: auto; }
