html body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, li, ul, ol, p, span, a, input, textarea, select {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

button {
  outline: none;
  appearance: none; }

html body {
  height: 100%;
  background-color: #ffffff;
  font-family: "avenir-light", sans-serif;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

h1, h2, h3, h4, h5, h6, li, ul, ol, p, span, a, button, input, textarea, select {
  color: #33457b;
  font-weight: 200; }

li, ul, ol {
  list-style-type: none; }

input, textarea {
  padding: .2rem;
  border: 1px solid #cbd6e2;
  border-radius: .2rem;
  cursor: text; }

input[type=text]:focus, input[type=submit]:focus, textarea:focus {
  outline-width: .25rem;
  outline-color: #85BFFD; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

.welcome-page {
  width: 100vw;
  height: 100vh; }
  .welcome-page .welcome-background {
    width: inherit;
    height: inherit;
    vertical-align: bottom; }
  .welcome-page:before {
    z-index: 0;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); }
  .welcome-page .welcome-message {
    position: absolute;
    top: 50px;
    left: 40px; }
    .welcome-page .welcome-message h1, .welcome-page .welcome-message p {
      color: #eeeeee; }
    .welcome-page .welcome-message h1 {
      font-size: 3.5rem; }
    .welcome-page .welcome-message p {
      font-size: 1.8rem; }
  .welcome-page a.welcome-button {
    padding: 10px 30px;
    position: absolute;
    bottom: 80px;
    right: 120px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(50, 50, 50, 0.8);
    border-radius: 10px;
    font-size: 1.8rem;
    color: #eeeeee;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease; }
    .welcome-page a.welcome-button:hover {
      background-color: rgba(0, 60, 120, 0.3); }
