html {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: $bgColor;
  font-family: "avenir-light", sans-serif;
  color: $fcBlack;
  h1, h3, p, a, input, textarea, select {
    font-weight: 200;
    margin: 0;
    padding: 0;
  }
  a {
    color: $fcAnchor;
    text-decoration: none;
  }
  h1 {
    font-size: 1.5rem;
  }
  h3, p, input[type=text], textarea, select{
    font-size: 1rem;
  }
  button{
    background-color: transparent;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
  }
  input[type=text],
  textarea,
  select{
    margin-bottom: 1rem;
    width: 95%;
  }
  input, textarea {
    padding: 0.2rem;
    border: 1px solid $bdrC;
    border-radius: 0.1rem;
    cursor: text;
  }
  input[type=text], input[type=submit], textarea{
    &:focus {
      outline-width: 5px;
      outline-color: $bdrC;
    }
  }
}
