.js-modal {

}

.js-modal__background {
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: $transparent-black--40;
}
.js-modal--create {

}
.js-modal--edit {

}
.js-modal--content {

}
.js-modal__field {
  z-index: 5;
  height: 100%;
  position: fixed;
  &__header {
    display: flex;
    &__title {
    }
    &__optionals {
      margin-left: auto;
    }
  }
  &__body {
    &__create-form {

    }
    &__main {

    }
    &__sidebar {

    }
  }
}
