.js-modal {
  &__background {
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: $transparent-black--20;
  }

  &--create {}

  &--edit {}

  &--content {}

  &__field {
    height: 700px;
    width: 670px;
    z-index: 5;
    position: fixed;

    &__header {
      display: flex;

      &__title {}

      &__optionals {
        margin-left: auto;
      }
    }

    &__body {
      display: flex;
      height: 640px;

      &__main {
        width: 480px;
        height: 100%;
        position: relative;
      }

      &__sidebar {
        flex: 1;
        height: 96%;

        &__integration {}
      }
    }
  }
}
