//font-colors
$font-color-blue: #33457b;
$font-color-black: #333333;
$font-color-gray: #555555;
$font-color-white: #eeeeee;
$font-color-anchor: #0091AE;

//bg-colors
$background-color: #ffffff;
$bgHL: #f5fcff;
$background-header: #2e2e2e;
$bgTOheader: #f0f6fa;
$background-todo-field: #f5f8fa;
$bgHeaderWhite: #f9fafd;

//buttons
$button-color-default: #ffffff;
$btnMain: #ff7a59;
$button-color-default-hovered: #dadfed;

//border-colors
$border-color-default: #cbd6e2;
$bdrF: #9DB0C5;

//transparent colors
$trsWhite: rgba(255,255,255,0.1);
$trsBlack: rgba(0,0,0,0.1);
$trsBlue: rgba(0,60,120,0.3);

//box-shadows
$boxShadowGray: 1px 1px 2px rgba(110,110,110,0.5);
