//font-colors
$fcBlack: #33457b;
$fcGray: #555555;
$fcWhite: #eeeeee;
$fcAnchor: #0091AE;

//bg-colors
$bgColor: #ffffff;
$bgHL: #f5fcff;
$bgSHeader: #2e2e2e;
$bgTOheader: #f0f6fa;
$bgTDField: #f5f8fa; //f9fbfc

//buttons
$btnMain: #ff7a59;

//border-colors
$bdrColor: #cbd6e2;
