@import "variables";
@import "reset";


body {
  background: $bgColor;
  font-family: "avenir-light", sans-serif;
  color: $fcBlack;
  h1, h3 {
    font-weight: 200;
  }
  a {
    color: $fcAnchor;
  }
}

// TODO todoLists-fieldの高さ自動調節をそのうちやる。今は70%で適当にやってる


.service-header {
  padding: 7px 20px 5px;
  background: $bgSHeader;
  color: $fcWhite;
  h1 {
    font-size: 1.5rem;
  }
}

// TODO make some awesome animation

.service-body {
  padding: 0 50px;
  height: 90%;
  box-sizing: border-box;
  .todoLists-headliner {
    display: flex;
    justify-content: flex-end;
    padding: 2.5rem 0 1.5rem;
    margin-bottom: 2.5rem;
    border-bottom: 1px solid $bdrColor;
    .headliner-title {
      margin-right: auto;
      p {
        font-size: 1.6rem;
        color: $fcBlack;
      }
    }
    .create-btn {
      background-color: $btnMain;
      color: #ffffff;
      font-size: 1rem;
      border-radius: 3px;
      padding: 0.7rem 1.5rem;
      border: none;
    }
  }
  .container {
    text-align: center;
    display: -webkit-flex;
    display: flex;
    height: 78%;
    .todoLists-sidebar {
      flex-grow: 1;
      text-align: left;
      p {
        padding: 0.5rem 0;
      }
    }
    .todoLists-container {
      flex: 9;
      .todoLists-optionals {
        height: 40px;
        text-align: left;
        :not(:first-child) {
          margin-left: 10px;
        }
      }
      .todoLists-field {
        background: $bgTDField;
        position: relative;
        display: flex;
        justify-content: space-around;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border: 1px solid rgba(50,50,60,0.1);
        div.todoLists-categories:not(:first-child) {
          border-left: 1px solid rgba(50,50,60,0.1);
        }
        .todoLists-categories {
          flex: 1;
          .categories-header {
            padding: 10px 0;
            // background-color: $bgTOField;
            border-bottom: 1px solid rgba(50,50,60,0.1);
            p {
              margin-left: 7px;
              text-align: left;
              font-size: 1rem;
            }
          }
          .categories-body {
            height: 92%;
            padding: 0 10px;
            overflow-y: auto;
            text-align: center;
            .todoLists-content {
              width: auto;
              min-height: 80px;
              max-height: 120px;
              text-align: left;
              padding: 3px 10px;
              background-color: #fefefe;
              border-radius: 3px;
              box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
              margin: 20px 0;
              p {
                margin-top: 5px;
                color: $fcGray;
                font-size: 0.9rem;
              }
              a {
                float: left;
              }
              button {
                float: right;
              }
            }
          }
        }
      }
    }
  }
}


#modal-bg {
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.40);
}

#modal-field {
  z-index: 5;
  display: none;
  position: fixed;
  height: 500px;
  width: 700px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 0.2rem;
  #create-todo {
    z-index: 10;
    display: none;
    h1 {
      border-bottom: 1px solid $bdrColor;
    }
    .create-todo-body {
      margin-top: 30px;
      input {
        margin-bottom: 2rem;
      }
    }
  }
}


.save-button {
  input {
    background-color: $bgColor;
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    transition: all 0.3s 0s ease;
    cursor: pointer;
    &:hover {
      background-color: $bgHL;

    }
  }
}
